
.depicter-revert.depicter-18 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-18-element-3{
	font-size:35px;
	text-align:center;
	color:#000000;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-18-section-1 .depicter-section-background{
	background-color:#FFF;
}

