
.depicter-revert.depicter-4 .depicter-section{
	min-height:600px;
}
.depicter-revert.depicter-4 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-4-element-23{
	background-color:#007745;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-4-element-23:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-23:not(.depicter-hover-off):hover {
	background-color:#00d9a6;
}
.depicter-4-element-23 .depicter-arrow-icon{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-24{
	background-color:#007745;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-4-element-24:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-24:not(.depicter-hover-off):hover {
	background-color:#00d9a6;
}
.depicter-4-element-24 .depicter-arrow-icon{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-19{
	font-size:17px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-19:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-19:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-17{
	font-size:17px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-17:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-18{
	font-size:17px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-18:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-18:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-16{
	font-size:17px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-16:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-16:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-21{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-4-element-20{
	font-size:60px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-12{
	font-size:30px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:600;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-10{
	font-size:60px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-9{
	font-size:60px;
	text-align:center;
	color:#000000;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-95{
	opacity:1;
}
.depicter-revert .depicter-4-element-95-frame{
	mix-blend-mode:saturation;
}
.depicter-revert .depicter-4-section-1 .depicter-section-background{
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-80{
	font-size:17px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-80:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-80:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-78{
	font-size:17px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-78:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-78:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-79{
	font-size:17px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-79:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-79:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-77{
	font-size:17px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-77:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-77:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-82{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-4-element-81{
	font-size:60px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-75{
	font-size:30px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:600;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-73{
	font-size:60px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-72{
	font-size:60px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-64 .depicter-section-background{
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-94{
	font-size:60px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-93{
	font-size:60px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-92{
	font-size:60px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-61{
	font-size:17px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-61:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-61:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-59{
	font-size:17px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-59:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-59:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-60{
	font-size:17px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-60:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-60:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-58{
	font-size:17px;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-58:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-4-element-58:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-63{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-4-section-45 .depicter-section-background{
	background-color:#ffffff;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert.depicter-4 .depicter-section{
	min-height:600px;
}
.depicter-revert .depicter-4-element-20{
	font-size:50px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-4-element-10{
	font-size:50px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-4-element-9{
	font-size:50px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-4-element-81{
	font-size:50px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-4-element-73{
	font-size:50px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-4-element-72{
	font-size:50px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-4-element-94{
	font-size:50px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-4-element-93{
	font-size:50px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-4-element-92{
	font-size:50px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert.depicter-4 .depicter-section{
	min-height:600px;
}
.depicter-revert .depicter-4-element-19{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-17{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-18{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-16{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-21{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-4-element-20{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-12{
	font-size:25px;
	color:#ffffff;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-4-element-10{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-9{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-80{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-78{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-79{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-77{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-82{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-4-element-81{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-75{
	font-size:25px;
	color:#ffffff;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-4-element-73{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-72{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-94{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-93{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-92{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-4-element-61{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-59{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-60{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-58{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-4-element-63{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}

}
